html, body{
	font-name: Helvetica;
	font-size: 16px;
	text-align: justify;
	
	/*try leftToRight (lr or ltr), or rightToLeft (rl or rtl) */
	text-direction: topToBottom; /*(tb or ttb)*/
}

p{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

a{
	color: #0000FF;
}

a:active {
	color: #FF0000;
}
