html{
	background: -webkit-gradient(radial, center center, 0, center center, 1000, from(#ffffff), to(#eeeeee)) fixed;
}

body{
	margin: 0;
	padding: 0;
}

a{
	color: #494949;
	text-decoration: none;
}

a:active{
	color: #333;
}

div a:active {
	color: #777;
}

ul{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

#posts {
	float: left;
}

#banners {
	float: left;
	text-align: center;
	width: 100%;
}

#banners img {
	left: 7%;
	position: relative;
	float: right;
	margin-left: 20px;
	margin-right: 20px;
}

div#header {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 10px;
}

ul#header_menu {
	float: right;
	list-style-type: none;
}

#header_menu li{
	float: left;
}

#header_menu li a {
	padding: 5px;
	margin-top: -5px;
}

div#page_container{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
}

div#main_content {
	float: left;
}

div.title h1 {
	padding-top: 5px;
	padding-left: 5px;
}

div.post_preview {
	background-color: #fff;
	padding-top: 10px;
}

div.post_content {
	padding: .8em;
	padding-top: 0;
}

div#title_list_container{
	position: relative;
	float: right;
	top: 30px;
	bottom: 15px;
	right: 0px;
}

div.post_metadata {
	text-align: right;
	padding-top: 5px;
}

ul#title_list{
	list-style-type: none;
	text-align: left;
	padding-right: 15px;
}

span.title_link {
	color: #494949;
	text-shadow: 1px 1px 0 #fff;
}

span.title_link:hover {
	color: #666;
}

span.title_link:active {
	color: #333;
}

span.title_link:visited {
	color: #000;
}

li a {
	display: block;
}

div#footer {
	float: left;
	width: 100%;
}
