*{
	font-lookup: embeddedCFF;
	font-name: _sans;
	font-size: 16px;
	layout-direction: ltr;
}
h1{
	font-size: 2em;
	font-weight: bold;
}
h2{
	font-size: 1.5em;
	font-weight: bold;
}
h3{
	font-size: 1.2em;
	font-weight: bold;
	font-weight: bold;
}
h4{
	font-size: 1.12em;
	font-weight: bold;
}
h5{
	font-size: .83em;
	font-weight: bold;
}
h6{
	font-size: .75em;
	font-weight: bold;
}
b{
	font-weight: bold;
}
strong{
	font-weight: bold;
}
em{
	font-posture: italic;
}
i{
	font-posture: italic;
}
u{
	underline: true;
}
ol{
	margin-left: 40px;
	list-style-position: inside;
}
ul{
	margin-left: 40px;
	list-style-position: inside;
	margin-top: 0;
	margin-bottom: 0;
}
sup{
	font-size: .6em;
	alignment-baseline: ideographicCenter;
}
hr{
	padding-top: 5;
	padding-bottom: 5;
	weight: 2;
	height: 2;
}